{
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 110,
        "tabWidth": 4,
        "singleQuote": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 110,
        "tabWidth": 4,
        "singleQuote": true,
        "trailingComma": "all"
      }
    }
  ]
}
